<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


<head>
    <script type="text/javascript" src="/static/js/caption.js"></script>
    <script type="text/javascript" src="/static/js/favorites.js"></script>
    <link rel="stylesheet" href="/static/css/style.css" />

    <title>EECS485</title>
</head>
<body>
<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp" />
        </div>
      </div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><h3><a class="mdl-navigation__link" href="{{ url_for('main.main_route') }}">GifQuiz</a></h3></span>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content center">
      {% block content %}
      {% endblock %}
    </div>
  </main>
  <footer class="mdl-mega-footer footerStyle">
    <div class="mdl-mega-footer__middle-section">
    </div>
  </footer>

</div>
{% block extrascripts %}
{% endblock %}
</body>


</html>
